.main-element {
    background-color: white;
    border: 1px solid #cfd0d1;
    border-radius: 5px;
    margin: 10%;
    min-width: 11vmax;
    min-height: 22vh;
    text-align: center;
    transition: all 0.3s;
}

.main-element:hover { 
    background-color: #5ba8f5;
    border: 1px solid #5ba8f5;
    color: white;
    cursor: pointer;
    transform: translateY(-5px);
}

.day-info {
    font-size: 1.4em;
}
